{% extends "base.html" %}

{% block content %}
                <div class="span_content span_wide">
                    <div id="HeroImage"><img src="/img/demo/hero_churches.png" height="201" width="958"></div> 
                    <div id="PageContent">
                        <h1>Page Not Found</h1>
                        <div class="Listing ListingDetail">
                            <div class="ListingResources">
                            </div>
                            <div class="description_block">
                                
                                <div class="Copy">
                                    Sorry, the page you were looking for isn't here.
                                </div>
                                
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>


{% endblock content %}