{% extends "base.html" %}

{% block content %}
                <div class="span_content span_wide">
                    <div id="HeroImage"><img src="{{ MEDIA_URL }}img/demo/hero_churches.png" height="201" width="958"></div> 
                    <div id="PageContent">
                        <h1>Something went wrong</h1>
                        <div class="Listing ListingDetail">
                            <div class="ListingResources">
                            </div>
                            <div class="description_block">
                                
                                <div class="Copy">
                                    Support has been notified. Please try again later
                                </div>
                                
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>


{% endblock content %}