<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<title>{{ title|default:"St. Elmo" }}</title>
	
	<!-- Page Descriptors -->
	<meta name="keywords" content="Content_Keywords">
	<meta name="description" content="Content_Description">
	
	<!-- Opengraph Data -->
	<meta property="og:title" content="St. Elmo">
	<meta property="og:site_name" content="St. Elmo">
	<meta property="og:image" content="{{ MEDIA_URL }}/img/logo.png">
	<meta property="og:type" content="website">
	<meta property="og:image" content="OPTIONAL_Content_Image">
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ MEDIA_URL }}/img/favicon.ico" type="image/x-icon"> 
	
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/style.css">
	<link href="{{ MEDIA_URL }}/fonts/typefaces.css" rel="stylesheet" type="text/css">

	<!-- Javascript-->
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.js"></script> 
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/fancybox/jquery.fancybox-1.3.4-pack.js"></script> 
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/scripts.js"></script> 

</head>
<body>
	<div id="PageWrapper" align="center">
		<div id="PageContainer">
			<div id="Header">
				<a href="/admin/" class="loginLink button right {% if not user.is_authenticated %}loggedout{% endif %}">{% if user.is_authenticated %}Welcome, {{ user }}{% else %}Log In{% endif %}</a>
			</div>
			<div id="Navigation">
				<ul id="LeftNavigation">
					<li><a href="/about/">About</a></li>
					<li><a href="/news-and-events/">News &amp; Events</a></li>
					<li><a href="/resources/">Resources</a></li>
					<li><a href="/community-association/">CAHSE</a></li>
				</ul>
				<ul id="RightNavigation">
					<li><a href="/businesses/">Businesses</a></li>
					<li><a href="/services/">Services</a></li>
					<li><a href="/churches/">Churches</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
				<a class="Logo" href="/"></a>
			</div>
			<div id="Content">
{% block content %}		
				
{% endblock content %}
			</div>
			<div id="Footer">
				<div class="caption">&copy;{% now "Y" %} Community Association of St Elmo. All Rights Reserved.</div>
				<div class="links">
					<a href="/about/">About</a> |
					<a href="/news-and-events/">News &amp; Events</a> |
					<a href="/resources/">Resources</a> |
					<a href="/community-association/">CAHSE</a> |
					<a href="/businesses/">Businesses</a> |
					<a href="/services/">Services</a> |
					<a href="/churches/">Churches</a> |
					<a href="/contact/">Contact</a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	
	<div class="hide">
		<div id="LoginBox">
			<div class="ModalContent roundtop">
				<div class="Header">
					Log in
					<a href="#" class="Close"></a>
				</div>
				<form action="/admin/" method="post">
					{% csrf_token %}
					<div class="FieldName">Username</div>
					<div class="FieldInput"><input name="username" value="" class="input"></div>
					<div class="FieldName">Password</div>
					<div class="FieldInput"><input type="password" name="password" value="" class="input"></div>
					<div class="right"><input type="submit" value="Log In" class="button submit"></div>
					<input type="hidden" value="1" name="this_is_the_login_form">
					<input type="hidden" value="/admin/" name="next">
				</form>
				<div class="clear"></div>
			</div>
			{% comment %}
			<div class="ModalContent roundbottom" style="margin-top:2px;">
				<div class="Notify">Need a St-Elmo.org Account?</div>
				<div align="center">
					<a href="#" class="button submit">Register Here</a>
				</div>
			</div>
			{% endcomment %}
		</div>
	</div>
	
</body>
</html>