{% extends "st-elmo/base.html" %}

{% block content %}
				<div id="HomeCollage">
					<div id="PhotoSlot1"><img src="{{ MEDIA_URL }}/img/demo/d1_1_inclined_railway.png" height="340" width="279"></div>
					<div id="PhotoSlot2"><img src="{{ MEDIA_URL }}/img/demo/d2_1_residence.png" height="224" width="394"></div>
					<div id="HistoryBox">
						<div>
							St. Elmo is situated in the southernmost part of Hamilton County, nestled in the 
							valley of Lookout Mountain below the curling stretch of the Tennessee River known 
							as Moccasin Bend. In 1992, St. Elmo was designated a Local Historic District.
						</div>
						<a href="/about" class="more archb">Learn More &gt;</a>
					</div>
					<div id="PhotoSlot3"><img src="{{ MEDIA_URL }}/img/demo/d3_1_church.png" height="113" width="394"></div>
					<div id="NewsletterFrontpage" class="NewsletterForm">
						<div class="teaser archbi">want to stay in the loop?</div>
						<div class="calltoaction archb">join the Neighborhood Email List</div>
						<form action="/join" method="post">
							<input type="text" value="" title="email address" class="email input">
							<input type="submit" value="Join" class="button submit">
						</form>
					</div>
					<div class="clear"></div>
				</div>
				<div id="FeaturedPanel">
					<div id="FeaturedBusiness" class="standard wide first">
						<div class="Header">Featured Business<a href="/businessess" class="more">view all &gt;</a></div>
						<div class="Content">
							<div class="Image"><a href="{{ featured_business.get_absolute_url }}"><img src="{{ featured_business.hero.url }}" height="110" width="324"></a></div>
							<div class="Listing">
								<a href="{{ featured_business.get_absolute_url }}" class="Title">{{ featured_business.name }}</a>
								<div class="subtitle"><em>{{ featured_business.tagline }}</em></div>
								<div class="details">
									<div><strong>Type:</strong> {{ featured_business.business_type.name }}</div>
									<div><strong>Founded:</strong> in {{ featured_business.year_founded }}</div>
								</div>
								<a href="{{ featured_business.get_absolute_url }}" class="more">Learn More &gt;</a>
							</div>
						</div>
					</div>
					<div id="RecentNewsPanel" class="standard wide">
						<div class="Header">Recent News &amp; Events<a href="/news" class="more">view all &gt;</a></div>
						<div class="Content">
							{% for event in recent_events %}
							<div class="Listing">
								<div class="date">{{ event.start_date|date:"n.j.y" }}</div>
								<a href="{{ event.get_absolute_url }}" class="Title">{{ event.name }}</a>
								<div class="details">
								{% if event.event_start_date %}
									<strong>When:</strong> {{ event.date_string }}
								{% endif %}
								</div>
								<div class="excerpt">
									Join us for a holiday celebration and tour of St. Elmo's historic homes &amp; churches!
								</div>
								<a href="content.html" class="more">Read More &gt;</a>
							</div>
							<div class="Listing last">
								<div class="date">10.11.11</div>
								<a href="content.html" class="Title">Public Art Project</a>
								<div class="excerpt">
									In conjunction with Public Art Chattanooga, the St. Elmo community will soon purchase a sculpture for...
								</div>
								<a href="content.html" class="more">Read More &gt;</a>
							</div>
							{% endfor %}
						</div>
					</div>
					<div id="SocialPanel" class="standard thin last">
						<div class="Header">Elsewhere</div>
						<div class="Content">
							<a href="#" class="socialbutton facebook"></a>
							<a href="#" class="socialbutton twitter"></a>
							<a href="#" class="socialbutton flickr"></a>
							<a href="#" class="socialbutton google"></a>
							<a href="#" class="socialbutton craigslist"></a>
						</div>
					</div>
					<div class="clear"></div>
				</div>
{% endblock content %}