		<div id="LoginBox">
			<div class="ModalContent roundtop">
				<div class="Header">
					Log in
					<a href="#" class="Close"></a>
				</div>
				<form action="/admin/" method="post">
					{% csrf_token %}
					<div class="FieldName">Username</div>
					<div class="FieldInput"><input name="username" value="" class="input"></div>
					<div class="FieldName">Password</div>
					<div class="FieldInput"><input type="password" name="password" value="" class="input"></div>
					<div class="right"><input type="submit" value="Log In" class="button submit"></div>
					<input type="hidden" value="1" name="this_is_the_login_form">
					<input type="hidden" value="/admin/" name="next">
				</form>
				<div class="clear"></div>
			</div>
			{% comment %}
			<div class="ModalContent roundbottom" style="margin-top:2px;">
				<div class="Notify">Need a St-Elmo.org Account?</div>
				<div align="center">
					<a href="#" class="button submit">Register Here</a>
				</div>
			</div>
			{% endcomment %}
		</div>