{% extends "base.html" %}

{% block content %}
				<div class="span_content span_thin">
					<div id="HeroImage"><img src='{{ MEDIA_URL }}{{ item.heroshot_set.all.0.image|default:"/img/demo/hero_house.png" }}' height="201" width="674"></div>
					<div id="PageContent">
						<h1>{{ item.title|upper }}</h1>
						<div class="Copy">
							{{ item.content|safe }}
						</div>
					</div>
				</div>
				<div id="SideNavigation">
					<div class="Widget LinkList">
						<div class="Header">Recent Entries<a href="{{ slug }}/feed/" class="more rss"></a></div>
						<div class="Links">
						{% for entry in recent_entries %}
							<a href="{{ entry.get_absolute_url }}"{% ifequal entry.get_absolute_url request.get_full_path %} class="selected"{% endifequal %}>{{ entry.title }}<br><span>{{ entry.teaser }}</span></a>
						{% endfor %}
						</div>
					</div>
					
					<div class="Widget NewsletterForm">
						<div class="teaser archbi">want to stay in the loop?</div>
						<div class="calltoaction archb">join the Neighborhood Email List</div>
						<form action="/join" method="post">
							<input type="text" value="" title="email address" class="email input">
							<input type="submit" value="Join" class="button submit">
						</form>
					</div>
				</div>						
{% endblock content %}