{% extends "base.html" %}

{% block content %}
				<div id="HomeCollage">
					<div id="PhotoSlot1"><img src="{{ MEDIA_URL }}{{ contentpage.heroshot_set.all.0.image }}" height="340" width="279"></div>
					<div id="PhotoSlot2"><img src="{{ MEDIA_URL }}{{ contentpage.heroshot_set.all.1.image }}" height="224" width="394"></div>
					<div id="HistoryBox">
						<div>
							{{ contentpage.content|safe }}
						</div>
						<a href="/about" class="more archb">Learn More &gt;</a>
					</div>
					<div id="PhotoSlot3"><img src="{{ MEDIA_URL }}{{ contentpage.heroshot_set.all.2.image }}" height="113" width="394"></div>
					<div id="NewsletterFrontpage" class="NewsletterForm">
						<div class="teaser archbi">want to stay in the loop?</div>
						<div class="calltoaction archb">join the Neighborhood Email List</div>
						<form action="http://lists.st-elmo.org/mailman/subscribe/neighbors" method="post">
							<input type="text" value="" title="email address" class="email input" name="email">
							<input type="submit" value="Join" class="button submit">
						</form>
					</div>
					<div class="clear"></div>
				</div>
				<div id="FeaturedPanel">
					<div id="FeaturedBusiness" class="standard wide first">
						<div class="Header">Featured Business<a href="/businesses/" class="more">view all &gt;</a></div>
						<div class="Content">
							<div class="Image"><a href="{{ featured_business.get_absolute_url }}"><img src="{% if featured_business.heroshot_slim %}{{ featured_business.heroshot_slim.url }}{% else %}{% if featured_business.heroshot_full %}{{ featured_business.heroshot_full.url }}{% else %}{{ MEDIA_URL }}img/business_no_photo.png{% endif %}{% endif %}" width="324"></a></div>
							<div class="Listing">
								<a href="{{ featured_business.get_absolute_url }}" class="Title">{{ featured_business.name }}</a>
								<div class="subtitle"><em>{{ featured_business.tagline }}</em></div>
								<div class="details">
									<div>{{ featured_business.description|truncatewords_html:40 }}</div>
								</div>
								<a href="{{ featured_business.get_absolute_url }}" class="more">Learn More &gt;</a>
							</div>
						</div>
					</div>
					<div id="RecentNewsPanel" class="standard wide">
						<div class="Header">Recent News &amp; Events<a href="/news-and-events/" class="more">view all &gt;</a></div>
						<div class="Content">
							{% for event in recent_events %}
							<div class="Listing {% ifequal forloop.counter 2 %}last{% endifequal %}">
								{% if event.event_start_date %}<div class="date">{{ event.event_start_date|date:"n.j.y" }}</div>{% endif %}
								<a href="{{ event.get_absolute_url }}" class="Title">{{ event.title }}</a>
								<div class="details">
								{% if event.event_start_date %}
									<strong>When:</strong> {{ event.date_string }}
								{% endif %}
								</div>
								<div class="excerpt">
								{% if event.teaser %}
									{{ event.teaser }}
								{% else %}
									{{ event.content|striptags|truncatewords:15 }}
								{% endif %}
								</div>
								<a href="{{ event.get_absolute_url }}" class="more">Read More &gt;</a>
							</div>
							{% endfor %}
						</div>
					</div>
					<div id="SocialPanel" class="standard thin last">
						<div class="Header">Elsewhere</div>
						<div class="Content">
							{% include "sociallinks.html" %}
						</div>
						{% comment %}<div class="Disclaimer">
							<img src="{{ MEDIA_URL }}img/disclaimer.png" width="186" height="115">
						</div>{% endcomment %}
					</div>
					<div class="clear"></div>
				</div>
{% endblock content %}
