{% extends "base.html" %}
{% load comments %}

{% block content %}
				<div class="span_content span_wide">
					<div id="HeroImage"><img src='{{ MEDIA_URL }}{{ contentpage.heroshot_set.all.0.image|default:"/img/demo/hero_diner.png" }}' height="201" width="958"></div> 
					<div id="PageContent">
						<h1>Businesses</h1>
						<div class="Listing ListingDetail">
							<div class="ListingResources">
								<div class="image">
									<img src="{% if item.heroshot_full %}{{ item.heroshot_full.url }}{% else %}{% if item.heroshot_slim %}{{ item.heroshot_slim.url }}{% else %}{{ MEDIA_URL }}img/business_no_photo.png{% endif %}{% endif %}" width="324">
								</div>
								<div class="context_options">
									{% if item.google_maps_url %}<a href="{{ item.google_maps_url }}" class="context_button directions {% cycle 'left' 'right' as leftright %}" target="_blank"></a>{% endif %}
									{% if item.website %}<a href="{{ item.website }}" class="context_button website {% cycle leftright %}" target="_blank"></a>{% endif %}
									{% if item.facebook %}<a href="{{ item.facebook }}" class="context_button facebook {% cycle leftright %}" target="_blank"></a>{% endif %}
									{% if item.twitter %}<a href="{{ item.twitter }}" class="context_button twitter {% cycle leftright %}" target="_blank"></a>{% endif %}
									{% if item.urbanspoon %}<a href="{{ item.urbanspoon }}" class="context_button urbanspoon {% cycle leftright %}" target="_blank"></a>{%endif %}
								</div>
								<div class="clear"></div>
							</div>
							<div class="description_block">
								<h2>{{ item.name }}</h2>
								<div class="subtitle"><em>{{ item.tagline }}</em></div>
								<div class="details">
									{% if item.business_type %}<div><strong>Type:</strong> <a href="{{ item.business_type.get_absolute_url }}">{{ item.business_type }}</a></div>{% endif %}
									{% if item.founded %}<div><strong>Founded:</strong> in {{ item.year_founded }}</div>{% endif %}
									{% if item.owners %}<div><strong>Owners:</strong> {{ item.owners }}</div>{% endif %}
									{% if item.readable_location %}<div><strong>Located:</strong> {{ item.readable_location }}</div>{% endif %}
									{% if item.hours %}<div><strong>Hours:</strong> {{ item.hours }}</div>{% endif %}
									{% if item.features %}<div><strong>Features:</strong> {{ item.features }}</div>{% endif %}
									{% if item.addr1 %}<div><strong>Address:</strong> {{ item.single_line_address }}</div>{% endif %}
									{% if item.phone %}<div><strong>Phone:</strong> {{ item.phone }}</div>{% endif %}
									{% if item.email %}<div><strong>Email:</strong> <a href="mailto:{{ item.email }}">{{ item.email }}</a></div>{% endif %}
								</div>
								
								<div class="Copy">
									{{ item.description|safe }}
								</div>
								
							{% if item.current_offers %}
								<div class="details">
								{% for offer in item.current_offers %}
									<div><strong>{{ offer.name }}:</strong> {{ offer.description|safe }}</div>
								{% endfor %}
								</div>
							{% endif %}
								
							</div>
							<div class="clear"></div>
						</div>
{% comment %}
						{% get_comment_count for item as comment_count %}
						<div class="Comments Listing">
							<div class="SubHeader">{{ comment_count }} Comments</div>
							<div class="CommentThread">
								{% render_comment_list for item %}
							</div>
						</div>
						
						{% render_comment_form for item %}
{% endcomment %}							
						<div class="pagination">
							<a href="{{ prev_item.get_absolute_url }}" class="previous">&lt; previous business</a>
							<a href="{{ next_item.get_absolute_url }}" class="next">next business &gt;</a>
							<div class="clear"></div>
						</div>
					

					</div>
				</div>


{% endblock content %}