{% extends "base.html" %}

{% block content %}
				<div class="span_content span_wide">
					<div id="HeroImage"><img src='{{ MEDIA_URL }}{{ contentpage.heroshot_set.all.0.image|default:"/img/demo/hero_diner.png" }}' height="201" width="958"></div> 
					<div id="PageContent">
						<h1>Businesses</h1>
					{% for business in items.object_list %}
						<div class="Listing">
							<div class="image">
								<a href="{{ business.get_absolute_url }}"><img src="{% if business.heroshot %}{{ business.heroshot.url }}{% else %}{{ MEDIA_URL }}img/business_no_photo.png{% endif %}" width="324"></a>
							</div>
							<div class="description_block">
								<h2><a href="{{ business.get_absolute_url }}">{{ business.name }}</a></h2>
								<div class="subtitle"><em>{{ business.tagline }}</em></div>
								<div class="details">
									<div><strong>Type:</strong> <a href="{{ business.business_type.get_absolute_url }}">{{ business.business_type }}</a></div>
									<div><strong>Founded:</strong> {{ business.founded }}</div>
									<div><strong>Located:</strong> {{ business.readable_location }}</div>
									<div><strong>Hours:</strong> {{ business.hours }}</div>
								</div>
							</div>
							<div class="context_options">
								<a href="{{ business.get_absolute_url }}" class="context_button learn_more"></a>
								{% if business.google_maps_url %}<a href="{{ business.google_maps_url }}" class="context_button directions"></a>{% endif %}
								{% if business.website %}<a href="{{ business.website }}" class="context_button website"></a>{% endif %}
							</div>
							<div class="clear"></div>
						</div>
					{% endfor %}
						<div class="pagination">
						{% if items.has_previous %}
							<a href="{{ prev_item.get_absolute_url }}" class="previous">&lt; previous</a>
						{% endif %}
						{% if items.has_next %}
							<a href="{{ next_item.get_absolute_url }}" class="next">next &gt;</a>
						{% endif %}
							<div class="clear"></div>
						</div>
				</div>
{% endblock content %}
