{% extends "base.html" %}

{% block content %}
				<div class="span_content span_wide">
					<div id="HeroImage"><img src='{{ MEDIA_URL }}{{ contentpage.heroshot_set.all.0.image|default:"/img/demo/hero_diner.png" }}' height="201" width="958"></div> 
					<div id="PageContent">
						<h1>Businesses</h1>
					{% for business in items.object_list %}
						<div class="Listing">
							<div class="image">
								<a href="{{ business.get_absolute_url }}"><img src="{% if business.heroshot_slim %}{{ business.heroshot_slim.url }}{% else %}{% if business.heroshot_full %}{{ business.heroshot_full.url }}{% else %}{{ MEDIA_URL }}img/business_no_photo.png{% endif %}{% endif %}" width="324"></a>
							</div>
							<div class="description_block">
								<h2><a href="{{ business.get_absolute_url }}">{{ business.name }}</a></h2>
								<div class="subtitle"><em>{{ business.tagline }}</em></div>
								<div class="details">
									<div><strong>Type:</strong> <a href="{{ business.business_type.get_absolute_url }}">{{ business.business_type }}</a></div>
									{% if business.phone %}<div><strong>Phone:</strong> {{ business.phone }}</div>{% endif %}
									{% if business.readable_location or business.addr1 %}<div><strong>Located:</strong> {% firstof business.readable_location business.single_line_address %}</div>{% endif %}
									{% if business.hours %}<div><strong>Hours:</strong> {{ business.hours }}</div>{% endif %}
								</div>
							</div>
							<div class="context_options">
								<a href="{{ business.get_absolute_url }}" class="context_button learn_more"></a>
								{% if business.google_maps_url %}<a href="{{ business.google_maps_url }}" class="context_button directions" target="_blank"></a>{% endif %}
								{% if business.website %}<a href="{{ business.website }}" class="context_button website" target="_blank"></a>{% endif %}
								{% if business.facebook %}<a href="{{ business.facebook }}" class="context_button facebook" target="_blank"></a>{% endif %}
							</div>
							<div class="clear"></div>
						</div>
					{% endfor %}
						<div class="pagination">
						{% if items.has_previous %}
							<a href="?page={{ items.previous_page_number }}&type={{ type }}" class="previous">&lt; previous</a>
						{% endif %}
						{% if items.has_next %}
							<a href="?page={{ items.next_page_number }}&type={{ type }}" class="next">next &gt;</a>
						{% endif %}
							<div class="clear"></div>
						</div>
				</div>
{% endblock content %}
