{% extends "base.html" %}

{% block content %}
				<div class="span_content span_wide">
					<div id="HeroImage"><img src='{{ MEDIA_URL }}{{ contentpage.heroshot_set.all.0.image|default:"/img/demo/hero_churches.png" }}' height="201" width="958"></div> 
					<div id="PageContent">
						<h1>Churches</h1>
					{% for church in items.object_list %}	
						<div class="Listing">
							<div class="image">
								<a href="{{ church.get_absolute_url }}"><img src="{% if church.heroshot_slim %}{{ church.heroshot_slim.url }}{% else %}{% if church.heroshot_full %}{{ church.heroshot_full.url }}{% else %}{{ MEDIA_URL }}img/business_no_photo.png{% endif %}{% endif %}" width="324"></a>
							</div>
							<div class="description_block">
								<h2><a href="{{ church.get_absolute_url }}">{{ church.name }}</a></h2>
								<div class="subtitle"><em>{{ church.tagline }}</em></div>
								<div class="details">
									<div><strong>Denomination:</strong> <a href="{{ church.denomination.get_absolute_url }}">{{ church.denomination }}</a></div>
									{% if church.phone %}<div><strong>Phone:</strong> {{ church.phone }}</div>{% endif %}
									<div><strong>Located:</strong> {% if church.readable_location %}{{ church.readable_location }}{% else %}{{ church.single_line_address }}{% endif %}</div>
									{% if church.hours %}<div><strong>Hours:</strong> {{ church.hours }}</div>{% endif %}
								</div>
							</div>
							<div class="context_options">
								<a href="{{ church.get_absolute_url }}" class="context_button learn_more"></a>
								{% if church.google_maps_url %}<a href="{{ church.google_maps_url }}" class="context_button directions" target="_blank"></a>{% endif %}
								{% if church.website %}<a href="{{ church.website }}" class="context_button website" target="_blank"></a>{% endif %}
								{% if church.facebook %}<a href="{{ church.facebook }}" class="context_button facebook" target="_blank"></a>{% endif %}
							</div>
							<div class="clear"></div>
						</div>
					{% endfor %}
						<div class="pagination">
						{% if items.has_previous %}
							<a href="?page={{ items.previous_page_number }}" class="previous">&lt; previous</a>
						{% endif %}
						{% if items.has_next %}
							<a href="?page={{ items.next_page_number }}" class="next">next &gt;</a>
						{% endif %}
							<div class="clear"></div>
						</div>
					</div>
				</div>
{% endblock content %}
