{% extends "base.html" %}
{% load comments %}

{% block content %}
				<div class="span_content span_wide">
					<div id="HeroImage"><img src='{{ MEDIA_URL }}{{ contentpage.heroshot_set.all.0.image|default:"/img/demo/hero_churches.png" }}' height="201" width="958"></div> 
					<div id="PageContent">
						<h1>Churches</h1>
						<div class="Listing ListingDetail">
							<div class="ListingResources">
								<div class="image">
									<img src="{% if item.heroshot %}{{ item.heroshot.url }}{% else %}{{ MEDIA_URL }}img/business_no_photo.png{% endif %}" width="324">
								</div>
								<div class="context_options">
									{% if item.google_maps_url %}<a href="{{ item.google_maps_url }}" class="context_button directions left" target="_blank"></a>{% endif %}
									{% if item.website %}<a href="{{ item.website }}" class="context_button website right" target="_blank"></a>{% endif %}
									{% if item.facebook %}<a href="{{ item.facebook }}" class="context_button facebook left" target="_blank"></a>{% endif %}
									{% if item.twitter %}<a href="{{ item.twitter }}" class="context_button twitter right" target="_blank"></a>{% endif %}
								</div>
								<div class="clear"></div>
							</div>
							<div class="description_block">
								<h2>{{ item.name }}</h2>
								<div class="subtitle"><em>{{ item.tagline }}</em></div>
								<div class="details">
									<div><strong>Denomination:</strong> <a href="{{ item.denomination.get_absolute_url }}">{{ item.denomination }}</a></div>
									<div><strong>Founded:</strong> {{ item.founded }}</div>
									<div><strong>Pastors:</strong> {{ item.pastors }}</div>
									<div><strong>Located:</strong> {{ item.readable_location }}</div>
									<div><strong>Hours:</strong> {{ item.hours }}</div>
									<div><strong>Address:</strong> {{ item.single_line_address }}</div>
									<div><strong>Phone:</strong> {{ item.phone }}</div>
									<div><strong>Email:</strong> <a href="mailto:{{ item.email }}">{{ item.email }}</a></div>
								</div>
								
								<div class="Copy">
									{{ item.description|safe }}
								</div>
								
							</div>
							<div class="clear"></div>
						</div>
{% comment %}
						{% get_comment_count for item as comment_count %}
						<div class="Comments Listing">
							<div class="SubHeader">{{ comment_count }} Comments</div>
							<div class="CommentThread">
								{% render_comment_list for item %}
							</div>
						</div>
						
						{% render_comment_form for item %}
{% endcomment %}							
						<div class="pagination">
							<a href="{{ prev_item.get_absolute_url }}" class="previous">&lt; previous church</a>
							<a href="{{ next_item.get_absolute_url }}" class="next">next church &gt;</a>
							<div class="clear"></div>
						</div>
					

					</div>
				</div>


{% endblock content %}