{% extends "base.html" %}

{% block content %}
				<div class="span_content span_wide">
					<div id="HeroImage"><img src='{{ MEDIA_URL }}{{ contentpage.heroshot_set.all.0.image|default:"/img/demo/hero_churches.png" }}' height="201" width="958"></div> 
					<div id="PageContent">
						<h1>Services</h1>
					{% for service in items.object_list %}	
						<div class="Listing">
							<div class="image">
								<a href="{{ service.get_absolute_url }}"><img src="{% if service.heroshot_slim %}{{ service.heroshot_slim.url }}{% else %}{% if service.heroshot_full %}{{ service.heroshot_full.url }}{% else %}{{ MEDIA_URL }}img/business_no_photo.png{% endif %}{% endif %}" width="324"></a>
							</div>
							<div class="description_block">
								<h2><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></h2>
								<div class="subtitle"><em>{{ service.tagline }}</em></div>
								<div class="details">
									<div><strong>Type:</strong> 
									{% for type in service.service_type.all %}
										<a href="{{ type.get_absolute_url }}">{{ type.name }}</a>{% if not forloop.last %}, {% endif %}
									{% endfor %}
									</div>
									{% if service.phone %}<div><strong>Phone:</strong> {{ service.phone }}</div>{% endif %}
									{% if service.readable_location or service.addr1 %}<div><strong>Located:</strong> {% firstof service.readable_location service.single_line_address %}</div>{% endif %}
									{% if service.hours %}<div><strong>Hours:</strong> {{ service.hours }}</div>{% endif %}
								</div>
							</div>
							<div class="context_options">
								<a href="{{ service.get_absolute_url }}" class="context_button learn_more"></a>
								{% if service.google_maps_url %}<a href="{{ service.google_maps_url }}" class="context_button directions" target="_blank"></a>{% endif %}
								{% if service.website %}<a href="{{ service.website }}" class="context_button website" target="_blank"></a>{% endif %}
								{% if service.facebook %}<a href="{{ service.facebook }}" class="context_button facebook" target="_blank"></a>{% endif %}
							</div>
							<div class="clear"></div>
						</div>
					{% endfor %}
						<div class="pagination">
						{% if items.has_previous %}
							<a href="?page={{ items.previous_page_number }}" class="previous">&lt; previous</a>
						{% endif %}
						{% if items.has_next %}
							<a href="?page={{ items.next_page_number }}" class="next">next &gt;</a>
						{% endif %}
							<div class="clear"></div>
						</div>
					</div>
				</div>
{% endblock content %}
